@import '../../../assets/nullstyle';
@import '../../../assets/variables';

.wrapper {
	background-color: $backKanbanBlueLight;
}

.task_body {
	background-color: $colorWhite;
	margin: 20px 25px;
	border-radius: 5px;
	padding: 20px 25px;
	display: flex;
	justify-content: space-between;

	& textarea {
		font-size: $fz-basic;
		width: 45em;
	}

	& > .block_content {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

	& .block_cross {
		width: 30px;
		height: 30px;
		cursor: pointer;
		position: relative;

		& .cross1 {
			width: 1px;
			height: 35px;
			background-color: $colorBlack;
			z-index: 9999;
			position: absolute;
			top: -2px;
			left: 15px;
			transform: rotate(-135deg);
		}

		& .cross2 {
			width: 1px;
			height: 35px;
			background-color: $colorBlack;
			z-index: 9999;
			position: absolute;
			top: -2px;
			right: 15px;
			transform: rotate(-45deg);
		}
	}
}

h2 {
	font-size: $fz-headerTask;
	margin-bottom: 35px;
}
