@import '../../assets/nullstyle';
@import '../../assets/variables';

.work {
	display: grid;
	grid-template-columns: repeat(4, 0.25fr);
	gap: 25px;
	background-color: $backKanbanBlueLight;
	padding: 20px;
}
