@import '../../assets/nullstyle';
@import '../../assets/variables';

.work {
	display: grid;
	// grid-template-rows: auto 85vh auto;
	grid-template-columns: repeat(4, 0.25fr);
	gap: 25px;
	overflow: hidden;
	background-color: $backKanbanBlueLight;
	padding: 20px;
}
