@import '../../../assets/nullstyle';
@import '../../../assets/variables';

.input_task {
	padding: 7px;
	background-color: $colorWhite;
	border-radius: 5px;
	width: 100%;
	text-decoration: underline;
	font-size: $fz-basic;
}
