$backKanbanBlueDark: rgba(0, 103, 163, 1);
$backKanbanBlueLight: rgba(0, 121, 191, 1);
$colorWhite: rgba(255, 255, 255, 1);
$colorBlack: rgba(0, 0, 0, 1);
$backGreyTask: rgba(235, 236, 240, 1);
$backDarkGreyTask: rgba(94, 108, 132, 1);
$fz-basic: 18px;
$fz-header: 28px;
$fz-menu: 14px;
$fz-headerTask: 24px;
